.dragDropBoxWrapper {
  display: grid;
  place-items: center;
}
.dragDropBoxWrapper input {
  display: none;
}
.dragDropBox {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
}

.dragDropBox.active {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 238, 238, 0.75);
}
